<div class="container">
  <header-i18n class="langs"></header-i18n>
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="./assets/logo-color.svg" alt="logo" />
        <span class="title">AURORA</span>
      </div>
      <div class="desc">欢迎使用 AURORA-TEMPLATE ！</div>
    </div>
    <router-outlet></router-outlet>
    <global-footer>
      POWER BY <a href="https://github.com/abpframework/abp" target="_blank">ABP</a> AND <a href="https://github.com/ng-alain/ng-alain" target="_blank">NG-ALAIN</a> FRAMEWORK.
    </global-footer>
  </div>
</div>
